<footer id="footer">
	<ul>
		<li>
			<a href="#/shuaxin" ng-class="{active:title=='刷新'}" ng-click="title='刷新'">
			<i class="iconfont">&#xe603;</i>
			<span>刷新</span>
            </a>
		</li>
		<li>
			<a href="#/shipin" ng-class="{active:title=='视频'}" ng-click="title='视频'">
			<i class="iconfont">&#xe604;</i>
			<span>视频</span>
            </a>
		</li>
		<li>
			<a href="#/guanxin" ng-class="{active:title=='关心'}" ng-click="title='关心'">
			<i class="iconfont">&#xe605;</i>
			<span>关心</span>
            </a>
		</li>
		<li>
			<a href="#/wode" ng-class="{active:title=='我的'}" ng-click="title='我的'">
			<i class="iconfont">&#xe602;</i>
			<span>我的</span>
            </a>
		</li>
	</ul>
</footer>