<nav id="nav" >
	<ul class="shuaxin" ng-hide="title!='刷新'" >
		<li ng-repeat="v in shuju" ng-if="v.state">{{v.name}}</li>
		<a class="jiahao iconfont" href="#/dingyue">&#xe609;</a>
	</ul>
	<ul class="guanxin" ng-hide="title!='关心'">
        <li class="lingdang"><i class="iconfont">&#xe606;</i></li>
        <li class="wenzi">关心</li>
        <li class="chazhao"><i class="iconfont">&#xe607;</i></li>
	</ul>
	<ul class="shuaxin bianse" ng-hide="title!='视频'">
		<li class="bianhong">推荐</li>
		<li>逗比剧</li>
		<li>音乐台</li>
		<li>看天下</li>
		<li>小品</li>
		<li>订阅</li>
		<li>推荐</li>
		<li>热点</li>
		<li>视频</li>
		<li>太原</li>
		<li>社会</li>
		<li>订阅</li>
		<li>推荐</li>
		<li>热点</li>
		<li>视频</li>
		<li>太原</li>
		<li>社会</li>
		<li>订阅</li>
		<div class="jiahao iconfont">&#xe607;</div>
	</ul>
</nav>