<div id="yindao" class="swiper-container" ng-show="isFirstOpen">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="./images/yindao1.png" alt="">
            <a href="#/shuaxin"></a>
        </div>
        <div class="swiper-slide">
            <img src="./images/yindao2.png" alt="">
             <a href="#/shuaxin"></a>
        </div>
        <div class="swiper-slide">
            <img src="./images/yindao3.png" alt="">
             <a href="#/shuaxin"></a>
        </div>
        <div class="swiper-slide">
            <img src="./images/yindao4.png" alt="">
             <a  ng-click="bian()" href="#/shuaxin"></a>
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <!-- <div class="swiper-pagination"></div> -->
    
    <!-- 如果需要导航按钮 -->
    <!-- <div class="swiper-button-prev"></div> -->
    <!-- <div class="swiper-button-next"></div> -->
    
    <!-- 如果需要滚动条 -->
    <!-- <div class="swiper-scrollbar"></div> -->
</div>