<ul id="shipin" ng-hide="title!='视频'">
   <li class="tiao">
   <div class="top">
      <div class="left">
          <img class="touxiang" src="./images/shipin1.png" alt="">
          <div class="name">奶茶妹妹</div>
      </div>
      <ul class="right">
          <li class="cisu">521万次播放</li>
          <li class="pinglun"><i class="iconfont">&#xe606;</i>4440</li>
          <li class="sheng">更多</li>
      </ul>
   </div>
   <div class="huitiao"></div>
   <div class="tupian">
      <img src="./images/shipin2.png" alt="">
   </div>
   </li>
    <li class="tiao">
   <div class="top">
      <div class="left">
           <img class="touxiang" src="./images/shipin2.png" alt="">
          <div class="name">奶茶妹妹</div>
      </div>
      <ul class="right">
          <li class="cisu">521万次播放</li>
          <li class="pinglun"><i class="iconfont">&#xe606;</i>4440</li>
          <li class="sheng">更多</li>
      </ul>
   </div>
   <div class="huitiao"></div>
   <div class="tupian">
      <img src="./images/shipin3.png" alt="">
   </div>
   </li>
    <li class="tiao">
   <div class="top">
      <div class="left">
           <img class="touxiang" src="./images/shipin3.png" alt="">
          <div class="name">奶茶妹妹</div>
      </div>
      <ul class="right">
          <li class="cisu">521万次播放</li>
          <li class="pinglun"><i class="iconfont">&#xe606;</i>4440</li>
          <li class="sheng">更多</li>
      </ul>
   </div>
   <div class="huitiao"></div>
   <div class="tupian">
      <img src="./images/shipin4.png" alt="">
   </div>
   </li>
    <li class="tiao">
   <div class="top">
      <div class="left">
           <img class="touxiang" src="./images/shipin4.png" alt="">
          <div class="name">奶茶妹妹</div>
      </div>
      <ul class="right">
          <li class="cisu">521万次播放</li>
          <li class="pinglun"><i class="iconfont">&#xe606;</i>4440</li>
          <li class="sheng">更多</li>
      </ul>
   </div>
   <div class="huitiao"></div>
   <div class="tupian">
      <img src="./images/shipin1.png" alt="">
   </div>
   </li>
</ul>