<ul id="shuaxin" ng-hide="title!='刷新'">
   <li class="xinwen">
       <h1 class="biaoti">习近平提出培育中美两国共同“朋友圈”</h1>
       <ul class="pinglun">
          <li class="touxiang"></li>
          <li class="zhuanti"><i class="iconfont">&#xe606;</i>专题</li>
          <li class="shijian">5万评论</li>
       </ul>
   </li>
   <li class="xinwen">
       <h1 class="biaoti">习近平提出培育中美两国共同“朋友圈”</h1>
       <ul class="pinglun">
          <li class="touxiang"></li>
          <li class="zhuanti"><i class="iconfont">&#xe606;</i>专题</li>
          <li class="shijian">5万评论</li>
       </ul>
   </li>
   <li class="xinwen">
       <h1 class="biaoti">习近平提出培育中美两国共同“朋友圈”</h1>
       <ul class="pinglun">
          <li class="touxiang"></li>
          <li class="zhuanti"><i class="iconfont">&#xe606;</i>专题</li>
          <li class="shijian">5万评论</li>
       </ul>
   </li>
   <li class="xinwen">
       <h1 class="biaoti">习近平提出培育中美两国共同“朋友圈”</h1>
       <ul class="pinglun">
          <li class="touxiang"></li>
          <li class="zhuanti"><i class="iconfont">&#xe606;</i>专题</li>
          <li class="shijian">5万评论</li>
       </ul>
   </li>
   <li class="xinwen">
       <h1 class="biaoti">习近平提出培育中美两国共同“朋友圈”</h1>
       <ul class="pinglun">
          <li class="touxiang"></li>
          <li class="zhuanti"><i class="iconfont">&#xe606;</i>专题</li>
          <li class="shijian">5万评论</li>
       </ul>
   </li>
</ul>