<div id="wode" ng-hide="title!='我的'">
    <div class="top">
       <ul class="denglu">
          <li>
              <img src="./images/wode1.png" alt="">
          </li>
          <li>
              <img src="./images/wode2.png" alt="">
          </li>
          <li>
              <img src="./images/wode3.png" alt="">
          </li>
          <li>
              <img src="./images/wode4.png" alt="">
          </li>
       </ul>
       <div class="denglufangshi">更多登录方式 ></div>
       <ul class="caozuo">
            <li><img src="./images/wode5.png" alt=""><span>收藏</span></li>
             <li><img src="./images/wode6.png" alt=""><span>夜间</span></li>
              <li><img src="./images/wode7.png" alt=""><span>设置</span></li>
       </ul>
    </div>
    <div class="huitiao"></div>
    <div class="baitiao">
        <span class="wenzi">好友动态</span>
        <span class="jiantou">></span>
    </div>
    <div class="huitiao"></div>
    <ul class="caidan">
    	<li class="baitiao">
    		<span class="wenzi">通知</span>
    		<span class="jiantou">></span>
    	</li>
    	<li class="baitiao">
    		<span class="wenzi">离线</span>
    		<span class="jiantou">></span>
    	</li>
    	<li class="baitiao">
    		<span class="wenzi">活动</span>
    		<span class="jiantou">></span>
    	</li>
    	<li class="baitiao">
    		<span class="wenzi">商城</span>
    		<span class="jiantou">></span>
    	</li>
    	<li class="baitiao">
    		<span class="wenzi">反馈</span>
    		<span class="jiantou">></span>
    	</li>
    </ul>
</div>